<script>
   function redirect(slug){
       console.log
       window.location.href = "/postagem/"+slug
   }
</script>
<div class="jumbotron">
    {{#if user}}
  <h1 class="display-4">{{user.nome}} Seja Bem-Vindo de Volta!</h1>

    {{else}}
  <h1 class="display-4">Bem-Vindo!</h1>

    {{/if}}
  <p class="lead">Sample text, texto personalizado que voce vai escolher</p>
  <hr class="my-4">
  <p>Crie uma conta para poder aproveitar o maximo do blog</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4" onclick=redirect("{{slug}}")>
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <button onclick=redirect("{{slug}}") class="btn btn-primary d-block">Leia mais</button>
        
        <small> Data da publicação:{{#formatDate datapublicada}} {{datapublicada}} {{/formatDate}}</small>
    </div>
</div>


{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}
